Source: vayu-apt-config
Maintainer: droidian-vayu Organization
Section: misc
Priority: optional
Build-Depends: debhelper (>= 10),
               debhelper-compat (= 13),
Standards-Version: 4.5.0.3

Package: vayu-apt-config
Architecture: all
Pre-Depends: apt,
Depends: ${misc:Depends},
         ca-certificates,
Description: APT Droidian configs for xiaomi vayu
